

/* Define color schemes for different themes */
:root{
    /* Default theme */
    --nav1: #15b625; 
    --nav2: #1aa733;
    --nav3: #159435;
    --nav5: #0c6d2c; 
    --nav4: #188a36;
    --header-color: #9AD0C2;
    --description-color: #2D9596;
    --content-color: #265073;
    --background-color: #ECF4D6;
    --navbar-color: #a12929;
    --footer-color: #f4f4f4;
    --title: #1aa733;
    --subtitle: #159435;
    --text: #0c6d2c;
  }

    /* Lemonade theme */
    [data-theme='lemonade'] {
        --nav1: #099e47;
        --nav2: #15ac10;
        --nav3: #0a773b;
        --nav4: #1aa733;
        --nav5: #15b625; 
        --header-color: #0d8f4e;
        --description-color: #1d9c4e;
        --content-color: #0aac3a;
        --background-color: linear-gradient(264deg, #ffef96, #f5f5dc, #fff8dc);
        --navbar-color: #13110b;
        --footer-color: #f0e68c;
        --title: #19bb34;
        --subtitle: #159435;
        --text: #0c6d2c;
      }
  
  /* Coffee theme */
  [data-theme='coffee'] {
    --header-color: #543b35;
    --description-color: #7a5f56;
    --content-color: #a18a80;
  --background-color: linear-gradient(260deg, #f2e6dc, #a37c72, #a18a80);
    --navbar-color: #d7b7a4;
    --footer-color: #c7a892;
  }
  

  
  /* Summer theme */
  [data-theme='summer'] {
    --header-color: #70a1ff;
    --description-color: #82ccdd;
    --content-color: #a4e2c6;
    --background-color: linear-gradient(264deg, #effad3, #70a1ff, #a4e2c6);
    --navbar-color: #d3f3ee;
    --footer-color: #caffbf;
  }
  
  /* Winter theme */
  [data-theme='winter'] {
    --header-color: #afc9ff;
    --description-color: #cbdff5;
    --content-color: #e0ecff;
    --background-color: linear-gradient(260deg, #f0f5ff, #afc9ff, #e0ecff);
    --navbar-color: #e2ebff;
    --footer-color: #d2dbff;
  }
  
  /* Mocha theme */
  [data-theme='mocha'] {
    --header-color: #453f35;
    --description-color: #6b6357;
    --content-color: #8d8479;
    --background-color: linear-gradient(259deg, #e4ddd0, #887c68, #8d8479);
    --navbar-color: #c7bcb0;
    --footer-color: #b0a399;
  }

  [data-theme='calm'] {
    --nav1: #7595be;
    --nav2: #69a3ac;
    --nav3: #00b4d8;
    --nav4: #0096c7;
    --nav5: #023e8a; 
    --header-color: #453f35;
    --description-color: #6b6357;
    --content-color: #8d8479;
    --background-color: linear-gradient(259deg, #EEF5FF, #9EB8D9, #7C93C3);
    --navbar-color: #c7bcb0;
    --footer-color: #b0a399;
    --title: #0077b6;
    --subtitle: #0096c7;
    --text: #067288;
    --button-background: #caf0f8;
    --button-text: #3579d3;
  }

  /* Halloween theme */
[data-theme='halloween'] {
    --header-color: #FF6B6B;
    --description-color: #FFB166;
    --content-color: #333333;
    --background-color: linear-gradient(260deg, #000000, #3D0842);
    --navbar-color: #4E598C;
    --footer-color: #FFD166;
  }
  
  /* Ocean City theme */
  [data-theme='ocean-city'] {
    --header-color: #90D1F9;
    --description-color: #E0E0E2;
    --content-color: #DBF9FF;
    --background-color: linear-gradient(260deg, #023E8A, #0077B6);
    --navbar-color: #00B4D8;
    --footer-color: #90D1F9;
  }
  
  /* Moonlit theme */
  [data-theme='moonlit'] {
    --header-color: #FFD700;
    --description-color: #99FFFF;
    --content-color: #C0C0C0;
    --background-color: linear-gradient(260deg, #000033, #191970);
    --navbar-color: #4169E1;
    --footer-color: #FFD700;
  }
  
  /* Street Light theme */
  [data-theme='street-light'] {
    --header-color: #FFD700;
    --description-color: #FFFFFF;
    --content-color: #A9A9A9;
    --background-color: linear-gradient(260deg, #333333, #000000);
    --navbar-color: #696969;
    --footer-color: #FFD700;
  }
  
  /* Neon Night theme */
  [data-theme='neon-night'] {
    --header-color: #00FF00;
    --description-color: #FFFF00;
    --content-color: #FFFFFF;
    --background-color: linear-gradient(260deg, #000000, #0D0D0D);
    --navbar-color: #191970;
    --footer-color: #00FF00;
  }
  
    /* Styling theme color palette */
    [data-theme='styling'] {
        --nav1: #4d8b67;
        --nav2: #15ac10;
        --nav3: #0a773b;
        --nav4: #1aa733;
        --nav5: #15b625; 
        --header-color: #466cdd;
        --description-color: #6A0572;
        --content-color: #FFB400;
        --background-color: linear-gradient(260deg, #0A043C, #243B55); /* Dark blue and chrome gradient */
        --navbar-color: #32004b;
        --footer-color: #370617;
    }

  
  
  body {
    background: var(--background-color);
  }
  
 
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    background-color: #d1d1d1;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
  
  a {
    font-weight: 500;
    color: #1c1c1c;
    text-decoration: inherit;
  }

  a:hover {
    color: #535bf2;
  }
  
  nav {
    border-bottom: 1px solid #eaeaea;
  }
  
  body {
    margin: 0;
    min-height: 100vh;
    background-color: var(--background-color);
  }
  
  #root {
    width: 100%;
    height: 100%;
    place-items: center;
    text-align: center;
  }
  
  main {
    height: 100%;
  }
  
  a.active-link {
    color: #535bf2; /* Define the color for the active link */
  }

